<!doctype html>

<html>

<head>
	<title>EZ-Audit Case Study</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/styles.css">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/script.js"></script>
</head>

<body>
	<section class="landing">
		<div class="leftLanding">
			<div style="padding-left: 3rem;">
				<h1>UCSD Degree Audit Redesign</h1>
				<h2>Modernizing the Age Old Audit</h2>

				<p>Jan 2021 - Mar 2021</p>
				<p>Role - Design Lead</p>
			</div>
		</div>

		<div class="rightLanding">
			<img src="assets/audit/ez-audit-case-study.png" alt="home-screen">
		</div>
	</section>

	<div class="container">
		<section class="content overview">
			<h1 style="text-align: center">Overview</h1>
			<br>

			<h2 class="section_title"> Background</h2>
			<h3 class="accent_header" style="text-align: center"> Planning classes shouldn’t be a pain!</h3>
			<p> During the winter of 2021, my team and I set out to address one of the biggest burdens that no one talks
				about at UCSD, the Degree Audit. It's a document that students have to refer to every quarter while
				planning out classes. It's the official academic document that tells a student what courses are uncompleted,
				how many units a student has completed, and even includes a small list of possible courses to take. 
				My team and I found it interesting that with such an important academic document that is used by every student, 
				a large amount of mutual friends and students still hated how it was designed. With this goal in mind, we 
				set out to rethink the way that degree audit was designed!
			</p>

		</section>


		<section class="content problem">
			<h2 class="section_title">The Problem</h2>

			<h3 class="accent_header" style="text-align: center">
				Planning classes is already a chore to most students, so why make the experience even worse with a
				completely tedious document?
			</h3>


			<p>
				Being a student is hard. A lifeless, monotonous degree audit to accompany those golden years in college is 
				even worse. The current UCSD Degree Audit makes organizing your 4 year plan and course scheduling dreadful. 
				As the years go on, countless students will suffer eye strain and stress while scanning up and down their plain 
				degree audit unless a more organized, and modern design comes along to make the experience much more enjoyable.
			</p>


			<br>
			<h2 class="section_title">Solution</h2>
			<p>
				UCSD students need a clearly organized degree audit in order to plan classes more effectively.
			</p>
			<p>
				EZ-Audit is a collaborative project meant to bring some life and creativity to the age old UCSD Degree Audit. 
				The goal of EZ-Audit is to make interaction with the Degree Audit intuitive and motivating by re-organizing the 
				flow of information as well as logically grouping related data into different pages for the user to view as modular 
				sections. <br>

				EZ-Audit’s biggest goal is to make a student’s journey towards graduation more enjoyable. It addresses many 
				common issues that students have long complained about. Some of the most important issues brought up my friends
				and colleagues were that the audit was very plain and boring, there was no easy way to get through the audit 
				without scrolling up and down for a long time, and each section was very unclear since there were no distinct 
				colors/breaks in the titles. EZ-audit addresses this by offering a fresh and modular design that separates 
				important sections of data into distinct sections.
			</p>
		</section>


		<section class="content insights">
			<h2 class="section_title">Some Key Insights:</h2>
			<ol>
				<li>
					<p> <span class="accent_header"> Too plain! Too much scrolling! Too little colors! </span> <br>
						The Degree Audit is naturally very long and contains a large amount of academic history related 
						data, but that is no excuse to make the document just one long page! It's important to create
						modular groups of data that have enough color for a student to easily distinguish sections.
					</p>
				</li>
				<li>
					<p> <span class="accent_header"> Not enough compatibility with UCSD's Webreg for course planning </span> <br>
						Student's commonly use the degree audit while planning classes, so compatibility with Webreg is very
						important in bridging the two separate tools offered by UCSD.
					</p>
				</li>
				<li>
					<p> <span class="accent_header"> Degree Audit should motivate students, not deter them </span> <br>
						College is not easy! Looking at one's degree audit should be a motivating experience that motivates
						them to keep pushing forward and try their best!
					</p>
				</li>
			</ol>

		</section>


		<section class="content process">
			<h1 style="text-align: center">Process</h1>
			<br>

			<h2 class="section_title">Audience</h2>
			<p>The target audience while developing RetroHub was anyone that uses GitHub!
				Since GitHub profiles are viewed everyday from common users to recruiters, the app would
				benefit anyone that likes to browse GitHub like a social platform.</p>

			<h2 class="section_title">Development</h2>

			<div class="before-after">
				<div>
					<img src="assets/audit/original_degree_audit.jpg" alt="early_sktch" class="larger-img">
				</div>

				<div>
					<p>
						Pictured here is the current UCSD Degree Audit. As you can see, it's very plain and goes against all
						of the key insights!
					</p>
				</div>
			</div>

			<p>
				Starting this project, one of the first things we set out to address was motivation and compatiblity with 
				the rest of UCSD's services. For ease of access, my team decided that this application could be accessed
				through a UCSD Student's TritonLink Login information since EZ-Audit was meant to replace the existing 
				Degree Audit. <br>

				<br>
				
				Secondly, we wanted to draft ideas of making the degree audit more motivational as early as possible, since that was the key 
				feature that made EZ-Audit more unique and refined for UCSD Students! Our main inspiration was imagining 
				undergrad as a path up a mountain. There are many hills you have to overcome and checkpoints you can reach
				along the way, and generally getting your degree would be the same as reaching the peak of the mountain!
			</p>


			<div class="before-after">
				<div>
					<img src="assets/audit/first_design.png" alt="early_sktch">
					<h3>Early Sketch: Journey page</h3>
				</div>

				<div>
					<img src="assets/audit/first_design_audit.png" alt="early_sktch">
					<h3>Early Sketch: Main Audit Page</h3>
				</div>
			</div>

			<p>
				As we started designing ideas for the main audit page and the journey page, which represented the motivational aspect of the app,
				we received very insightful feedback. First, was that our team was trying to address too many issues brought up by students!
				This realization was important because it helped our team narrow down on the key insights, which were to redesign the audit
				and offer a motivational page to the audit. Second, after many requests, it seemed smarter to develop a mobile
				layout since most students use their smart phones for everything. So we translated the most important features to mobile,
				such as the TritonLink Compatibility Login, Journey Page, and Main Audit Page (sketch lost).
			</p>

			<div class="before-after">
				<div>
					<img src="assets/audit/Login-Page.png" alt="early_sktch">
					<h3>Early Sketch: Mobile Login</h3>
				</div>

				<div>
					<img src="assets/audit/Home-Page.png" alt="early_sktch">
					<h3>Early Sketch: Mobile Journey Page</h3>
				</div>
			</div>

		</section>


		<section class="content low-fidelity">
			<h2>Lo-fi Prototyping</h2>

			<p>
				As we designed our low-fidelity prototypes, we kept the key insights in mind. The first one was to incorporate more 
				color to the audit in order to create easily discernible sections of data. Second, was to limit the amount of scrolling
				a student would have to do by creating intuitive scrollable sections of data. Lastly, we wanted to create an experience that 
				motivated students, instead of deterring them. 
			</p>

			<div class="before-after">
				<div>
					<img src="assets/audit/mcScreen1.png" alt="early_sktch">
					<h3>Lo-fi Wireframe 1</h3>
				</div>

				<div>
					<img src="assets/audit/mcScreen2.png" alt="early_sktch">
					<h3>Lo-fi Wireframe 2</h3>
				</div>
			</div>


			<div class="before-after">
				<div>
					<img src="assets/audit/web_reg.jpg" alt="early_sktch" class="larger-img">
				</div>

				<div style="max-width: 50%;">
					<p>
						However, one of the most critical feedbacks we received was our ignorance of compatibility to WebReg. One of the key goals
						of EZ-Audit was to enable students by making course planning more accessible through the Degree Audit. So one of the most
						important updates we made to the final prototype was integration with WebReg.
					</p>
				</div>
			</div>
		</section>

		<section class="content final-prototype">
			<h2>Final Prototype</h2>

			<p>
				As we polished our design and finalized our prototypes, we received various feedback about our selection of colors and how it made it
				difficult to read since the colors were harsh and looked tacky. So as we finished up coding our final prototype, we migrated much of our designs
				to use Bootstrap since it is a very trustworthy library that can modernize websites. We shifted our colors to be more pastel and dull so that
				we could highlight important sections of data, while not taking away from the information itself. <br>
				<br>

				A fun addition we added to the Journey Page was that users were now able visually see their progress in the top left corner. This was a highly
				requested feature from almost all of the groups that evaluated our prototypes, because it was a clear visuzliation of a student's journey in 
				terms of units completed. Another crafty addition was a motivational quote to remind students that it's not about the mountain or journey you
				conquer, but yourself! We found these additions to be strong features that helped create a motivational aspect to the application. 
			</p>

			<div class="before-after">
				<div>
					<img src="assets/audit/hi-fidel-audit1.jpg" alt="early_sktch">
					<h3>Final Prototype 1</h3>
				</div>

				<div>
					<img src="assets/audit/hi-fidel-audit2.jpg" alt="early_sktch">
					<h3>Final Prototype 1</h3>
				</div>
			</div>

			<p>
				For our Main Audit Page, we found that a simple tabluar design would work best for the needs of the user. Since students only need a more
				intuitive/modular layout, there was no need to go overboard with design and colors. We decided that these simple grey and blue-greys would
				suffice and still bring eye attention to the focal points of the website. The dropdowns help tidy up the abundance of information but still
				allow users to scroll when they wish to read more! The navigation bar at the bottom of the page allows users to view splits of data with 
				respect to classes that are still required, classes that are completed, and classes that are currently in progress.
			</p>
		</section>



		<section class="content reflection">
			<h2>Reflection</h2>
			<p>
				Building this project exposed me to the dedication and patience required to carry out a full design process with a team of designers. I
				learned the importance of communicating with not only your team but with the stakeholders, or in this case TA's. This was an extremely useful
				lesson because I found myself having to re-explain my thoughts and ideas more than once so that they were clear and straightforward, unveiling
				that learning how to convey thoughts/ideas in teams is important. <br>

				I learned that constructive criticism is much more insightful than embarassing! As a new designer with flaws, I appreciated getting honest
				feedback from my peers and TA's because it shined light on areas of my work that can be improved. It was difficult learning how to improve on
				these areas, but I have come to terms that learning the design process is not an easy task, and that I can only improve by going through it over
				and over again until I am more comfortable. <br>

				Overall, I was very enlightened after completing this project on a strict deadline, as it gave me a simulation of how a product is designed,
				developed, and delivered. 
			</p>

		</section>


	</div>


</body>

</html>

<!-- 
    {{#each friends}}
		<div class="friend">
			<img src={{imageURL}} alt="Peepo" class="img-responsive img-rounded">
			<h3><a href="#" class="anagram-name">{{name}}</a></h3>
			<p>{{description}}</p>
		</div>
		<hr>
		{{/each}}

		<form id="addFriendForm" role="form" method="get" action="/add">
			<h3>Add a friend</h3>
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" placeholder="Name" name="name">
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<input type="text" class="form-control" id="description" placeholder="Description" name="description">
			</div>
			<input type="submit" id="submitBtn" class="btn btn-default" value="Add the friend"></input>
		</form>
-->