<!doctype html>

<html>

<head>
	<title>RetroHub Case Study</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/styles.css">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/script.js"></script>
</head>

<body>
	<section class="landing">
		<div class="leftLanding">
			<div style="padding-left: 3rem;">
				<h1>GitHub Profile Redesign</h1>
				<h2>Bringing A Retro Theme to GitHub</h2>

				<p>Aug 2020 - Sep 2020</p>
				<p>Role - UI/UX Engineer</p>
			</div>
		</div>

		<div class="rightLanding">
			<img src="assets/retro/retro-hub-case-study.png" alt="home-screen">
		</div>
	</section>

	<div class="container">

		<h1>RetroHub</h1>

		<section class="content overview">
			<h1 style="text-align: center">Overview</h1>
			<br>

			<h2 class="section_title"> Background</h2>
			<h3 class="accent_header"> GitHub Profiles Shouldn’t Be Boring!
			</h3>
			<p> During the end of Summer 2020, I set out to complete a passion project that allowed me to
				explore my interests in frontend devlopment and design. Given the large shift to online
				interactions due to the COVID-19 Pandemic, and recruiting season approaching in the fall,
				I thought it would be interesting to rethink the way that software developers showcase their
				projects through one of the most popular software hosting websites, GitHub.
			</p>

		</section>


		<section class="content problem">
			<h2 class="section_title">The Problem</h2>

			<h3 class="accent_header">Online portfolios for developers should be enjoyable and highlight the most
				important
				features of a developer.
			</h3>


			<p>Software and technology is all very, geeky. For anyone outside of the software world,
				it all looks like gibberish. Even websites like GitHub that serve as a social platform for
				developers to show off their portfolio do a poor job of making software look interesting.
				Developer portfolios shouldn't continue to be presented in a boring manner. We live in a social media
				generation where individual skills, achievements, and updates are shared online for everyone to see.
				With so many fun and interactive social platforms out there today, it begs the question of where is
				that platform for software developers?
			</p>


			<br>
			<h2 class="section_title">Solution</h2>
			<p>GitHub users should be provided with a curated profile page that fits in with modern social
				apps that showcase the individual.
			</p>
			<p>
				RetroHub is a creative project meant to bring life and creativity to one of the largest
				social platforms for developers, GitHub. Aside from being a host for version control software,
				GitHub is a natural gathering platform for developers to showcase their work and interact with
				other developers and their projects. Consequently, the goal is to make this interaction with
				GitHub user profiles less dreadful by providing a fresh and exciting Retro themed wrapper for all
				GitHub User Profiles! Retrohub’s biggest goal is to encourage creativity and having fun
				with one’s portfolio. It addresses the common issue of software related projects being
				seen as boring and serious by showcasing projects in a fun 8-bit theme that highlights
				one’s popular skills/languages as well as projects, just like a retro game hi-score board!
			</p>
		</section>


		<section class="content insights">
			<h2 class="section_title">Some Key Insights:</h2>
			<ol>
				<li>
					<p> <span class="accent_header"> No modern social platform for developers </span> <br>
						GitHub is a large platform, but it isn't tailored towards social interactions.
					</p>
				</li>
				<li>
					<p> <span class="accent_header"> GitHub Profiles are plain and arduous to sift through  </span> <br>
						Profile layouts are too standard and the lack of colors make it difficult to easily
						distinguish important sections of information.
					</p>
				</li>
				<li>
					<p> <span class="accent_header"> Github Profiles should be curated  </span> <br>
						Many people view GitHub Profiles to see the important information, such as a user's
						popular coding languages, projects, and contributions.
					</p>
				</li>
			</ol>

		</section>


		<section class="content process">
			<h1 style="text-align: center">Process</h1>
			<br>

			<h2 class="section_title">Audience</h2>
			<p>The target audience while developing RetroHub was anyone that uses GitHub! 
				Since GitHub profiles are viewed everyday from common users to recruiters, the app would 
				benefit anyone that likes to browse GitHub like a social platform.</p>

			<h2 class="section_title">Development</h2>

			<div class="before-after">
				<div>
					<img src="assets/retro/react-plus-nodejs-small.png" alt="early_sktch">
				</div>

				<div>
					<p>Since this was my first project after deciding to pursue frontend development and design, 
						I didn’t have much experience. Therefore, I spent much of my time learning full-stack 
						technologies, such as integrating a React Frontend with a NodeJS Backend. 
					</p>
				</div>
			</div>

			<p>
				I was able to learn how to read documentation efficiently enough to get the project running 
				by setting up a proxy to my frontend server through my NodeJS backend. Although this was a 
				difficult task learning on my own, it was very insightful and gave me the experience of 
				solving my own problems and accomplishing a task I felt unfit to complete.
			</p>
			<br>

			<p>
				Starting off the design process, I wanted to craft a unique theme for all GitHub profiles
				that would be interesting to look at.
				That's when I started with drawing simple sketches on my iPad to have some sort of artistic 
				direction until eventually I landed on a Retro, 8-bit themed profile. After getting feedback
				from my friends and family, I ended up sketching up Figure 1.1. The feedback helped me 
				refine my direction of keeping a simple and modern design that could still be fun, which is
				how I decided to re-draw the GitHub Octocat inside of a spaceship to fit the retro theme!
				After spending some time learning Adobe Photoshop, I was able to create Figure 1.2, which is an 
				animated gif that I actually use for the background of the RetroHub website.
			</p>

			<div class="before-after">
				<div>
					<img src="assets/retro/early_sketch.jpg" alt="early_sktch">
					<h3>Figure 1.1</h3>
				</div>

				<div>
					<img src="assets/retro/RetroHub-Background.gif" alt="early_sktch">
					<h3>Figure 1.2</h3>
				</div>
			</div>

		</section>


		<section class="content low-fidelity">
			<h2>Lo-fi Prototyping</h2>
			<p>
				Given my lack of experience with the design process, I mainly leveraged the low fidelity 
				prototypes as generic ideas that satisfied the main goals of the project, which were to 
				create a fun, well organized layout for GitHub user profiles. Therefore I didn't have more
				than one prototype, although each prototype had gone through 1-2 iterations after receiving
				feedback from family and friends. <br>
				<br>

				Some of the most important feedback I received was that I wasn't following the retro-8bit theme
				well enough and that the user information was not modular nor well sectioned. Therefore I spent
				a large amount of time viewing arcade game menu layouts and other retro themed art styles for 
				inspiration. This was when I focused on a box layout that was simple enough to curate 
				modular sections of user data and still maintain a style reminiscent of a arcade game menu.
			</p>

			<div class="before-after">
				<div>
					<img src="assets/retro/lo-fidel1.png" alt="early_sktch">
					<h3>Lo-fi Wireframe 1</h3>
				</div>

				<div>
					<img src="assets/retro/lo-fidel2.png" alt="early_sktch">
					<h3>Lo-fi Wireframe 1</h3>
				</div>
			</div>

			<p>
				At this point, I ended up with Lo-fi Wireframes 1 & 2. These were good enough to address all
				of the major issues that inspired this project. These wireframes were capable of providing a 
				more fun social aspect to the GitHub experience by allowing a user to search any GitHub
				username through RetroHub and have that specific user's information displayed. The user's 
				information is instantly wrapped into a dynamic and fully curated profile page that makes
				any interaction fun and interesting to look at.
			</p>
		</section>

		<section class="content final-prototype">
			<h2>Final Prototype</h2>

			<div class="before-after">
				<div>
					<img src="assets/retro/hi-fidel-retro1.jpg" alt="early_sktch">
					<h3>Final Prototype 1</h3>
				</div>

				<div>
					<img src="assets/retro/hi-fidel-retro2.jpg" alt="early_sktch">
					<h3>Final Prototype 2</h3>
				</div>
			</div>

			<p>
				My final prototypes actually do not exist! When this project was built, I did all of my
				iterations through coding and updated the project whenever I received feedback from friends
				and family. The website used to be a simple black background with black boxes and information,
				however I received very important feedback that the website was lacking fun! This was when I 
				went back to Figure 1.2 and decided to use this as the background of the website to create a 
				fully immersive space retro theme with flashing stars and planets.
			</p>

		</section>



		<section class="content reflection">
			<h2>Reflection</h2>
			<p>
				Building this project exposed me to the realistic challenges that are faced as a UI/UX engineer.
				I was navigating a brand new field with little to no experience and figured that in industry, 
				it's probably no different. I learned to accept that projects like these will come up and I 
				won't always have help such as tutors at school that answer my problems. <br>

				Therefore, I am grateful to have struggled through this process and learn very important
				problem-solving skills. I was able to navigate dense documentation to even run a full-stack 
				application but the true struggle came with debugging. I learned how to manually test API 
				endpoints and debug HTTPResponse errors with the Chrome Debugger. <br>

				I'm grateful to have completed this project because it was my first ever passion project 
				outside of school without any help. I felt completely lost and wanted to give up at times
				but I truly believe that struggling through this project has prepared me to take on new 
				challenges and has made me less afraid of not knowing things. 
			</p>

		</section>


	</div>

</body>

</html>

<!-- 
    {{#each friends}}
		<div class="friend">
			<img src={{imageURL}} alt="Peepo" class="img-responsive img-rounded">
			<h3><a href="#" class="anagram-name">{{name}}</a></h3>
			<p>{{description}}</p>
		</div>
		<hr>
		{{/each}}

		<form id="addFriendForm" role="form" method="get" action="/add">
			<h3>Add a friend</h3>
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" placeholder="Name" name="name">
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<input type="text" class="form-control" id="description" placeholder="Description" name="description">
			</div>
			<input type="submit" id="submitBtn" class="btn btn-default" value="Add the friend"></input>
		</form>
-->